<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'item_creat'%}">Criar Item</a>
    <ul>
        {%for item in items %}
        <li>
            {{item.nome}}-{{item.descricao}}
            <a href="{% url 'item_update' item.pk %}">Editar</a>
            <a href="{% url 'item_delete' item.pk %}">deletar</a>

        </li>
        {% endfor %}
    </ul>
</body>
</html>